/* .page-header,
.sect-head,
.sect-princp,
.sect-team,
.sect-portfl,
.ftr,
.backdrop,  
.mobile-menu {
  display: none;
}*/

/* ================ VARIABLES ================ */
:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;

  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --primary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ================ /VARIABLES ================ */

/* ================ COMMON STYLES ================ */
/* reset */
a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: var(--iris);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}

/*===== body =====*/
body {
  font-family: var(--font-family);
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  background-color: var(--white);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.head-span {
  color: var(--navy-blue);
}

@media screen {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* ================ /COMMON STYLES ================ */

/* ================ HEADER STYLES ================ */
@media screen {
  .nav-list,
  .addrs {
    display: none;
  }

  .page-header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }

  .page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sctr-nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .page-header .container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .mobile-menu-open-btn {
    line-height: 0;
    stroke: #2f2f37;
    transition: stroke var(--primary-transition);
  }

  .mobile-menu-open-btn:hover,
  .mobile-menu-open-btn:focus {
    stroke: var(--iris);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }
  .nav-menu-item {
    position: relative;
    font-weight: 500;
    padding: 24px 0;
  }
  .nav-menu {
    color: var(--navy-blue);
    transition: color var(--primary-transition);
  }
  .nav-menu:hover,
  .nav-menu:focus {
    color: var(--ocean);
  }
  .nav-menu-activ {
    color: var(--ocean);
  }
  .nav-menu-activ::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    color: var(--ocean);
    background-color: var(--ocean);
  }
  .logo.hdr {
    margin-right: 120px;
  }
  .addrs {
    display: flex;
    margin-left: auto;
  }
  .addres-item {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .addres-item:last-child {
    margin-bottom: 0;
  }
  .addr-list {
    color: var(--slate);
    transition: color var(--primary-transition);
  }
  .addr-list:hover,
  .addr-list:focus {
    color: var(--ocean);
  }
}

@media screen and (min-width: 1158px) {
  .logo.hdr {
    margin-right: 76px;
  }
  .addr-link {
    display: flex;
    gap: 40px;
  }
  .addres-item {
    margin-bottom: 0;
    padding: 10px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* ================ / HEADER STYLES ================ */

/* ================ HERO STYLES ================ */
.sect-head {
  background-color: var(--navy-blue);
  padding: 72px 0;
  max-width: 320px;
  background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
    url(../images/hero/hero-bg-mb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 96px;
}
@media screen and (min-resolution: 192dpi) {
  .sect-head {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      url(../images/hero/hero-bg-mb@2x.jpg);
  }
}
.skt-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--white);
  margin: auto;
  max-width: 210px;
  margin-bottom: 72px;
}
.form-btm {
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  transition: background-color var(--primary-transition);
}
.form-btm:hover,
.form-btm:focus {
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .sect-head {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      url(../images/hero/hero-bg-tablet.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .sect-head {
      background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
        url(../images/hero/hero-bg-tablet@2x.jpg);
    }
  }

  .skt-main {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .sect-head {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      url(../images/hero/hero-bg-dt.jpg);
    margin-bottom: 120px;
  }
  @media screen and (min-resolution: 192dpi) {
    .sect-head {
      background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
        url(../images/hero/hero-bg-dt@2x.jpg);
    }
  }
  .skt-main {
    margin-bottom: 48px;
  }
}
/* ================ / HERO STYLES ================ */

/* ================ PRINCIPLES STYLES ================ */
.item-icon {
  display: none;
}
.sect-princp {
  margin-bottom: 96px;
}
.page-title-principles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.descr {
  font-weight: 500;
}
.item {
  margin-bottom: 72px;
}
.item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .page-title-principles {
    text-align: left;
  }
  .princp-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    text-align: left;
  }
  .item {
    margin-bottom: 0;
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .princp-list {
    flex-wrap: nowrap;
  }
  .item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--cloud);
    border-radius: 4px;
    border: 1px solid var(--light-slate);
    margin-bottom: 8px;
  }
  .page-title-principles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
/* ================/ PRINCIPLES STYLES =============== */

/* =================== TEAM STYLES ================== */
.sect-team {
  background-color: var(--cloud);
  padding: 96px 0;
}
.sect-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.descr {
  font-weight: 400;
}
.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 72px;
}
.team-list .sect-form {
  border-radius: 0 0 4px 4px;
  padding: 0;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}
.sect-form .card-cont {
  padding: 32px 16px;
  text-align: center;
}
.social-list {
  margin-top: 8px;
  display: flex;
  column-gap: 24px;
  justify-content: center;
  align-items: center;
}
.social-link {
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color var(--primary-transition);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}
.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}
@media screen and (min-width: 1158px) {
  .sect-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* ===================/ TEAM STYLES ================== */

/* ================= PORTFOLIO STYLES ================ */
.sect-portfl {
  padding-top: 96px;
  padding-bottom: 96px;
}
.app-description {
  display: none;
}
.portf-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  justify-content: center;
  align-items: center;
}
.card-portf-descr {
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding: 32px 16px;
}
.card-portf {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}
@media screen and (min-width: 768px) {
  .portf-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .card-portf {
    flex-basis: calc((100% - 24px) / 2);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
  }
}
@media screen and (min-width: 1158px) {
  .sect-portfl {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portf-list {
    row-gap: 72px;
  }
  .card-portf {
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow var(--primary-transition);
  }
  .card-portf-descr {
    border-bottom: 1px solid var(--cornflower);
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
  }
  .card-image {
    position: relative;
    overflow: hidden;
  }
  .app-description {
    display: block;
    color: var(--cloud);
    background-color: var(--iris);
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: transform var(--primary-transition);
  }
  .card-portf:hover,
  .card-portf:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  .card-portf:hover .app-description,
  .card-portf:focus .app-description {
    transform: translateY(0%);
  }
}
/* =================/ PORTFOLIO STYLES ================ */

/* =================== FOOTER STYLES ================== */
.ftr {
  background: var(--navy-blue);
  padding-top: 96px;
  padding-bottom: 96px;
}
.ftr .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 72px;
}
.logo.footer {
  padding-bottom: 16px;
  display: inline-block;
}
.letter {
  color: var(--cloud);
}
.ftr-txt {
  color: var(--cloud);
  text-align: left;
}
.footer-description {
  font-weight: 500;
  color: var(--white);
  padding-bottom: 16px;
}

.social-media .social-list {
  display: flex;
  margin: 0;
  gap: 16px;
}
.social-media .social-link:hover,
.social-media .social-link:focus {
  background-color: var(--green);
}
.subscribe-text {
  font-weight: 500;
  color: var(--white);
  padding-bottom: 16px;
}
.subscribe-block {
  display: block;
  /* padding-bottom: 16px; */
}
.subscribe-form-input {
  border: 1px solid var(--white);
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  opacity: 0.6;
  padding-left: 16px;
  /* margin-bottom: 16px; */
}
.subscribe-form-input::placeholder {
  color: var(--white);
}
.subscribe-form {
  /* padding-bottom: 16px; */
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  border-radius: 4px;
  padding: 8px 24px;
  margin: 0 auto;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--white);
  background: var(--iris);
  transition: background-color var(--primary-transition);
}
.subscribe-button-icon {
  margin-left: 16px;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .ftr .container {
    padding-left: 108px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    column-gap: 24px;
  }
  .footer-text {
    width: 264px;
  }
  .subscribe-block {
    margin-bottom: 0;
  }
  .subscribe-form {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
  .subscribe-form-input {
    width: 264px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .ftr .container {
    padding-left: 16px;
    column-gap: 0;
    flex-wrap: nowrap;
  }
  .footer-text {
    margin-right: 120px;
  }
  .social-media {
    margin-right: 80px;
  }
}
/* ===================/ FOOTER STYLES ================== */

/* =============== BACKDROP WITH MODAL =============== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--primary-transition),
    visibility var(--primary-transition);
}
.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background-color: var(--dairy);
  border-radius: 4px;
  padding: 72px 16px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform var(--primary-transition);
}
.close-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: var(--cornflower);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  transition: background-color var(--primary-transition),
    border var(--primary-transition);
}
.close-modal-btn-icon {
  fill: var(--navy-blue);
  transition: fill var(--primary-transition);
}
.close-modal-btn:hover {
  border: none;
  background-color: var(--ocean);
}
.close-modal-btn:focus {
  border: none;
  background-color: var(--ocean);
}
.close-modal-btn:hover .close-modal-btn-icon,
.close-modal-btn:focus .close-modal-btn-icon {
  fill: var(--white);
}
.review-slogan {
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
  color: var(--navy-blue);
}
.review-form-field-wrapper {
  padding-bottom: 8px;
}
.comment-wrapper {
  margin-bottom: 16px;
}
.review-form-field-label {
  display: block;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}
.review-form-field-content-wrapper {
  position: relative;
}
.review-form-input {
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  background-color: transparent;
  height: 40px;
  width: 100%;
  padding-left: 34px;
  outline: transparent;
  transition: border-color var(--primary-transition);
}
.review-form-input:focus {
  border-color: var(--iris);
}
.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--primary-transition);
}
.review-form-input:focus + .review-form-field-icon {
  fill: var(--iris);
}
.review-form-message {
  display: block;
  background-color: transparent;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  outline: transparent;
  transition: border-color var(--primary-transition);
}
.review-form-message::placeholder {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
  opacity: 0.5;
}
.review-form-message:focus {
  border-color: var(--iris);
}
.review-form-checkbox-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 24px;
}
.review-form-custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  cursor: pointer;
  outline: transparent;
  fill: transparent;
  /* margin-right: 8px; */
  transition: background-color var(--primary-transition),
    border var(--primary-transition), fill var(--primary-transition);
}
.review-form-policy-checkbox:checked
  + .review-form-checkbox-label
  .review-form-custom-checkbox {
  border: none;
  background-color: var(--ocean);
  border-color: var(--ocean);
  fill: var(--cloud);
}
.review-form-checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
}
.policy-blok-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.privacy-policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
}
.review-form-submit-btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  transition: background-color var(--primary-transition);
}
.review-form-submit-btn:hover {
  background: var(--ocean);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
  .policy-blok-text {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 1158px) {
  .review-form-input {
    padding-left: 38px;
  }
}
/* ===============/ BACKDROP WITH MODAL =============== */

/* =================== MOBILE MENU =================== */

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    padding-top: 24px;
    padding-bottom: 40px;
    color: var(--navy-blue);
    transform: translateX(100%);
    transition: transform var(--primary-transition);
  }
  .mobile-menu.is-open {
    transform: translateX(0%);
  }
  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .close-mobile-menu-btn {
    align-self: flex-end;
    fill: var(--navy-blue);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    transition: background-color var(--primary-transition),
      border var(--primary-transition);
    margin-bottom: 24px;
  }
  .close-mobile-menu-btn:hover,
  .close-mobile-menu-btn:focus {
    border: none;
    background-color: var(--ocean);
    fill: var(--white);
  }
  .mobile-menu-nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mobile-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    transition: color var(--primary-transition);
  }
  .mobile-menu-nav-link:hover,
  .mobile-menu-nav-link:focus,
  .mobile-menu-nav-link.accent-link {
    color: var(--ocean);
  }
  .addr-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--slate);
    transition: color var(--primary-transition);
  }
  .addr-list:hover,
  .addr-list:focus,
  .addr-list.accent-link {
    color: var(--iris);
  }
  .addres-item:last-child {
    margin-bottom: 48px;
  }
  .addres-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .addr-link {
    margin-top: auto;
  }
  .social-list mobile {
    margin-top: 48px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* ===================/ MOBILE MENU =================== */
